@model Demo.Models.Salutation

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Greet</title>
</head>
<body>
    <div> 
        @Model.Greeting, världen!
    </div>
</body>
</html>
